extends index.pug
block content
    div.clearfix
    div.row
        div(class="col-md-12 col-sm-12 col-xs-12")
            div.x_panel
                div.x_title
                    h2 افزودن رشته جدید CSV
                    div.clearfix    
                div.x_content
                    p 
                    |   فایل های csv  مورد نظر خودتون را اینجا رها کنید. سپس صبر کنید تا آپلود بصورت کامل به پایان برسد.
                    form(method="POST" ,enctype="multipart/form-data", action="/verwalten/regmajorcsv",class="dropzone" , id="my-awesome-dropzone")
                        
